*.d
*.o
*.out
*.pdf
*.vim
*.swp
*.orig
*.json
*.ebnf
*.pdf
post/*
.clangd
example.ebnf
docs/*
sa/*
tester
cgi_tester
webserv_tester
webserv_tester/*
post/*
YoupiBanane
webserv
TODO.md
www
www/*
hilaryTester/*
